.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 16px;
  justify-content: center;
  width: 1184px;
  height: 442px;
  margin: 118px auto 0px;
}
@media screen and (max-width: 1024px){
  .gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 16px;
  justify-content: center;
  width: 720px;
  height: 1104px;
  margin: 64px auto 0px;
}
}

@media screen and (max-width: 544px){
   .gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 12px;
  justify-content: center;
  width: 288px;
  height: 1812px;
  margin: 38px auto 0px;
}
}