header{
display: flex;
justify-content: center;
}

.header__logo{
    margin-top: 34px;
    width: 254px;
    height: 68px;
}

@media screen and (max-width: 1024px) {
.header__logo{
    margin-top: 30px;
    width: 254px;
    height: 66px;

}
}

@media screen and (max-width: 544px) {
.header__logo{
    margin-top: 20px;
    width: 188px;
    height: 52px;
}
}