.intro {
  display: flex;
  justify-content: center;
}

.intro__content {
  max-width: 830px;
  width: 100%;
}

.intro__title {
  max-width: 830px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin-top: 92px;
  margin-bottom: 40px;
}

.intro__text {
  max-width: 738px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 10px;
}
.intro__author {
  max-width: 732px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 32px;
  text-align: right;
}

.intro__text_small {
  max-width: 722px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
}

@media screen and (max-width: 1024px) {
.intro {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  }

  .intro__content {
  width: 100%;
  max-width: 720px;
  }

.intro__title {
  max-width: 707px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  font-weight: 900;
  line-height: 49px;
  margin-bottom: 50px;
}

.intro__text {
  max-width: 720px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 26px;
}
.intro__author {
  max-width: 720px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 32px;
  text-align: right;
}

.intro__text_small {
  max-width: 720px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
}
}

@media screen and (max-width: 544px) {
  .intro {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  }

.intro__content {
  width: 100%;
  max-width: 288px;
  }
  .intro__title {
  max-width: 288px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  margin-bottom: 40px;
}

.intro__text {
  max-width: 288px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}
.intro__author {
  max-width: 288px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 32px;
  text-align: right;
}

.intro__text_small {
  max-width: 288px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
}
}