.lead {
  display: flex;
  justify-content: center;
}

.lead__content {
  width: 100%;
  max-width: 830px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 1024px) {
.lead {
  display: flex;
  justify-content: center;
}

.lead__content {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 24px;
}
}

@media screen and (max-width: 544px) {
.lead {
  display: flex;
  justify-content: center;
}

.lead__content {
  width: 100%;
  max-width: 288px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 16px;
}
}