.lead {
  display: flex;
  justify-content: center;
}

.lead__content {
  width: 100%;
  max-width: 830px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title {
  max-width: 720px;
  margin: 91px auto 32px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
}

.title__text {
  max-width: 720px;
  margin: 0 auto 64px;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.title__image {
    width: 984px;
    height: 615px;
}

.intro {
  display: flex;
  justify-content: center;
}

.intro__content {
  max-width: 830px;
  width: 100%;
}

.intro__title {
  max-width: 830px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  margin-top: 92px;
  margin-bottom: 40px;
}

.intro__text {
  max-width: 738px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 10px;
}
.intro__author {
  max-width: 732px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 32px;
  text-align: right;
}

.intro__text--small {
  max-width: 722px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
}
@media screen and (max-width: 1024px) {
.lead {
  display: flex;
  justify-content: center;
}

.lead__content {
  width: 100%;
  max-width: 720px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 24px;
}

.title {
  max-width: 720px;
  width: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 75px;
  font-weight: 900;
  line-height: 79px;
  margin-top: 90px;
  margin-bottom: 25px;
}

.title__text {
  max-width: 720px;
  width: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 30px;
}

.title__image {
  max-width: 768px;
  width: 100%;
  height: auto;
}

.intro {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  }

  .intro__content {
  width: 100%;
  max-width: 720px;
  }

.intro__title {
  max-width: 707px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 45px;   
  font-weight: 900;
  line-height: 49px;
  margin-bottom: 50px;
}

.intro__text {
  max-width: 720px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 26px;
}
.intro__author {
  max-width: 720px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 32px;
  text-align: right;
}

.intro__text--small {
  max-width: 720px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
}
}

@media screen and (max-width: 544px) {
.lead {
  display: flex;
  justify-content: center;
}

.lead__content {
  width: 100%;
  max-width: 288px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 16px;
}

.title {
  max-width: 288px;
  width: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  margin-top: 50px;
  margin-bottom: 16px;
}

.title__text {
  max-width: 288px;
  width: 100%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
}

.title__image {
  width: calc(100% + 32px); 
  margin-left: -16px;
  margin-right: -16px;
  max-width: none;
  }

.intro {
  padding: 0 16px;
  display: flex;
  justify-content: center;
  }

.intro__content {
  width: 100%;
  max-width: 288px;
  }
  .intro__title {
  max-width: 288px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 32px;   
  font-weight: 900;
  line-height: 35px;
  margin-bottom: 40px;
}

.intro__text {
  max-width: 288px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 10px;
}
.intro__author {
  max-width: 288px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  margin-bottom: 32px;
  text-align: right;
}

.intro__text--small {
  max-width: 288px;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 163%;
}
}