.page {
    max-width: 1280px;
    background-color: #2A2C2F;
    margin: 0 auto;
    font-family: 'Inter';
    color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
   .page {
    max-width: 768px;
    margin: 0 auto;
}
}

@media screen and (max-width: 544px) {
.page {
    max-width: 320px;
    margin: 0 auto;
}
}