@import url(../vendor/_normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/main.css);
@import url(../blocks/footer.css);
